/*
    Helper functions
*/
/* COLOURS START */
/*

  color_dark,
  color,
  color_light

*/
/* line 3, ../../sass/app/app.scss */
html, body {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
