
//popup menu animation

.popup-open-add {
  display: block !important;
  opacity: 0 !important;
  @include transform(translate3d(0px, $pad-sm, 0px));
}


.popup-open-add-active {
  opacity: 1 !important;
  @include transform(translate3d(0px, 0px, 0px));
}

.popup-open-remove {
  display: none !important;
  @include transform(translate3d(0px, 0px, 0px));
}


.popup-open-remove-active {
  display: block !important;
  opacity: 0 !important;
  @include transform(translate3d(0px, $pad-sm, 0px))
}

.popup-open {
  display: block !important;
  opacity: 1 !important;
}

.popup-menu {
  @include popup-menu(0rem, left, 0rem);
}
