/* COLOURS START */

$white: #ffffff;
$default-color: #000000;

/*

  color,
  color_dark,
  color_light

*/

$primary:#333132;
$primary_d:#000000;
$primary_l:#454346;

$secondary:#d50a0a;
$secondary_d:darken($secondary, 5);
$secondary_l:lighten($secondary, 5);

$tertiary:#FFEC52;
$tertiary_d:darken($tertiary, 5);
$tertiary_l:lighten($tertiary, 5);


$info: #1D4C82;
$info_d:darken($info, 5);
$info_l:lighten($info, 5);

$danger:#ED1A35;
$danger_d:darken($danger, 5);
$danger_l:lighten($danger, 5);

$success:#00B966;
$success_d:darken($success, 5);
$success_l:lighten($success, 5);

$warning:#EEC714;
$warning_d:darken($warning, 5);
$warning_l:lighten($warning, 5);

$grey-s1: #fafafa;
$grey-s2: #f3f3f3;
$grey-s3:#e4e4e4;
$grey-s4: #c3c4c6;
$grey-s5: #454346;
$black: #333132;
$true-black: #000000;
$true-white: #ffffff;

//normal, hover, active, border, text

$brand-primary: ($primary_d $primary $primary_l $primary_d $white);
$brand-secondary: ($secondary $secondary_l $secondary_d $secondary_d $white);
$brand-tertiary: ($tertiary $tertiary_l $tertiary_d $tertiary_d $black);
$brand-success:  ($success $success_d $success_l $success_d $white);
$colors-info:($info $info_d $info_l $info_d $white);
$colors-warning:($warning $warning_d $warning_l $warning_d $white);
$colors-danger:($danger $danger_d $danger_l $danger_d $white);
$colors-disabled:($grey-s4 $grey-s4 $grey-s4 $grey-s4 $white);

$colors-white:($white $grey-s1 $white $primary-d $primary);
$colors-black:($black $black $black $white $white);
$colors-true-black: ($true-black $true-black $true-black $true-black $true-white);
$colors-true-white: ($true-white $true-white $true-white $true-white $true-black);

$colours: primary $brand-primary,
          secondary $brand-secondary,
          tertiary $brand-tertiary,
          success $brand-success,
          info $colors-info,
          warning $colors-warning,
          danger $colors-danger,
          disabled $colors-disabled,
          white $colors-white,
          black $colors-black,
          true-black $colors-true-black,
          true-white $colors-true-white;
