
//TODO: remove compass ... redo font-size classes like adjust-font-size-to, keep rem sizes where needed

@import "compass/reset";
@import "compass/layout.scss";
@import "compass/css3";
@import "compass/typography/vertical_rhythm";


//helpers
@import "settings/functions";
@import 'settings/variables';
//ui
@import 'settings/breakpoints';
@import 'settings/colours';

@include establish-baseline;

html, body {
  position: relative;
  min-height: 100%;
  touch-action:none;
  -ms-touch-action: none;
  -ms-scroll-chaining: none;
  -ms-overflow-style: none;
  -webkit-text-size-adjust:none;
}

html {
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

//MS tap delay fix
a[href], button { touch-action: manipulation; }

body {
  font-family: $font-stack-default;
  font-weight: 400;
  font-style: normal;
  color: $black;
  @include adjust-font-size-to($base-font-size, 1.3);
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}


@import 'modules/common/common-mixins';
@import 'modules/common/common';

@import 'modules/popup/popup-mixins';
@import 'modules/popup/popup';

@import 'modules/grid';
//@import 'modules/js-grid';

@import 'modules/form/form-mixins';
@import 'modules/form/form';


