@import "settings/functions";
@import 'settings/variables';
@import "settings/breakpoints";

// this is config class, so Environment javascript method can see all the breakpoints we defined


.js-breakpoint-initialize {

  //padding-left:$min-width; // min width


  @each $name, $point in $mq-b-points {
    @include respond-to($name) {
      content: "#{$name}";
    }
  }


}


// Reference on how to use the responsive element css syntax

/*

.responsive-element {
  position: relative;
  background: yellow;
  height: #{pxToRem(50px)};

  &[max-width~="#{pxToRem(320px)}"] {
    background: green;
    font-size: 13px;
  }

  &[min-width~="#{pxToRem(320px)}"][max-width~="#{pxToRem(480px)}"] {
    background: pink;
    font-size: 16px;
  }

  &[min-width~="#{pxToRem(480px)}"] {
    background: orange;
    font-size: 30px;
  }

}


*/


