html, body {
  height: 100%;
}

hr {
  margin: $pad-xbg 0;
  background: $grey-s3;
}

body {
  &:before {
    display: none;
    content: 'default';
    @include respond-to(s) {
      content: 's';
    }

    @include respond-to(m) {
      content: 'm';
    }

    @include respond-to(l) {
      content: 'l';
    }

    @include respond-to(xl) {
      content: 'xl';
    }

    @include respond-to(xxl) {
      content: 'xxl';
    }

    @include respond-to(xxxl) {
      content: 'xxxl';
    }
  }
}