@font-face {
  font-family: Nunito;
  src: url(./nunito/Nunito-Regular.ttf);
}

@font-face {
  font-family: Nunito;
  src: url(./nunito/Nunito-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: Nunito;
  src: url(./nunito/Nunito-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: Nunito;
  src: url(./nunito/Nunito-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: Nunito;
  src: url(./nunito/Nunito-ExtraLight.ttf);
  font-weight: 200;
}