
$button-v-pad: $pad-sm;
$button-h-pad: $pad;
$button-height: 2*$button-v-pad + rhythm(1,$h6-fz) + pxToRem(2px);

$button-small-v-pad: $pad-sm * 0.75;
$button-small-h-pad: $pad * 0.75;
$button-small-height: 2*$button-small-v-pad + rhythm(1,$h6-fz) + pxToRem(2px);

$button-large-v-pad: $pad-sm * 1.25;
$button-large-h-pad: $pad * 1.25;
$button-large-height: 2*$button-large-v-pad + rhythm(1,$h6-fz) + pxToRem(2px);


@mixin button {
  position: relative;
  text-align: center;
  @include border-radius(pxToRem(3px));
  @include adjust-font-size-to(pxToRem($h6-fz));
  display: inline-block;
  min-width: 14px;
  box-sizing: border-box;
  vertical-align: middle;
  white-space: nowrap;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  border: pxToRem(1px) solid rgba(0,0,0,0);
  margin: 0;
}