@each $colour-name, $colour in $colours {

  .text-c-#{$colour-name} {
    color: nth($colour, 1) !important;
  }

  .link-c-#{$colour-name} {
    color: nth($colour, 1) !important;
    &:hover {
      color: nth($colour, 3) !important;
    }
  }

  .link-bg-#{$colour-name} {
    background: nth($colour, 1) !important;
    &:hover {
      background: nth($colour, 3) !important;
    }
  }

  .bg-c-#{$colour-name} {
    background: nth($colour, 1);
  }

}




a, .link {
  cursor: pointer;
  text-decoration: none;
  color: nth($brand-primary, 1);
  &:hover {
    color: nth($brand-primary, 3);
    text-decoration: underline;
  }
}


h1 {
  @include adjust-font-size-to($h1-fz);
  font-weight: 400;
}

h2 {
  @include adjust-font-size-to($h2-fz);
  font-weight: 400;
}

h3 {
  @include adjust-font-size-to($h3-fz);
  font-weight: 400;
}

h4 {
  @include adjust-font-size-to($h4-fz);
  font-weight: 400;
}

h5{
  @include adjust-font-size-to($h5-fz);
  font-weight: 600;
}

h6{
  @include adjust-font-size-to($h6-fz);
  font-weight: 600;
}

.text-size-1 {
  @include adjust-font-size-to($h1-fz);
}

.text-size-2 {
  @include adjust-font-size-to($h2-fz);
}

.text-size-3 {
  @include adjust-font-size-to($h3-fz);
}

.text-size-4 {
  @include adjust-font-size-to($h4-fz);
}

.text-size-5 {
  @include adjust-font-size-to($h5-fz);
}

.text-size-6 {
  @include adjust-font-size-to($h6-fz);
}

.text-size-7 {
  @include adjust-font-size-to($h7-fz);
}

.text-size-8 {
  @include adjust-font-size-to($h8-fz);
}

.lg {
  @include adjust-leading-to(1, $h5-fz);
}

.lg-2 {
  line-height: pxToRem(36px);
}

.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.text-justify {
  text-align: justify !important;
}

p {
  margin:$pad 0;
}

pre, code {
  font-family: monospace, monospace;
  font-size: 1em;
}

pre {
  display: block;
}

em, i {
  font-style: italic;
}

small {
  @include adjust-font-size-to(0.8rem, 0.8);
}

thead th, thead td {
  font-weight: 600;
}

strong, .strong, b {
  font-weight: 600 !important;
}

.stronger {
  font-weight: 700 !important;
}

.light {
  font-weight: 300 !important;
}

.normal {
  font-weight: 400 !important;
}

.italic {
  font-style: italic;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.capitalize {
  text-transform: capitalize;
}

.underline {
  text-decoration: underline;
}

.hover_underline {
  &:hover {
    text-decoration: underline;
  }
}

.nowrap {
  white-space: nowrap;
}



.ellipsis {
  position: relative;
  @include ellipsis;
}


.inherit-font {
  font-size: inherit !important;
}


hr {
  position: relative;
  display: block;
  height: pxToRem(1px);
  background: $grey-s4;
  border: 0;
  margin: $pad-sm;
}


.vertical-center {
  @include vertical-center;
}

.horizontal-center {
  @include horizontal-center;
}

.align-left {
  float: left;
}

.align-right {
  float: right;
}

.clear {
  clear: both;
}

.clear:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
}

.clear-left {
  clear: left;
}

.clear-right {
  clear: right;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-auto {
  overflow: auto;
}

.block {
  display: block !important;
}

.inline {
  display: inline !important;
}

.inline-block {
  display: inline-block !important;
}

.hide {
  display: none !important;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.cursor-pointer {
  cursor: pointer;
}
.cursor-default {
  cursor: default;
}


@each $name,$padding in $paddings {
  .pad-#{$name} {
    padding: $padding !important;
  }
  .pad-0-0-0-#{$name} {
    padding-left: $padding !important;
  }
  .pad-0-0-#{$name}-0 {
    padding-bottom: $padding !important;
  }
  .pad-0-#{$name}-0-0 {
    padding-right: $padding !important;
  }
  .pad-#{$name}-0-0-0 {
    padding-top: $padding !important;
  }
  .pad-0-#{$name} {
    padding-right: $padding !important;
    padding-left: $padding !important;
  }
  .pad-#{$name}-0 {
    padding-top: $padding !important;
    padding-bottom: $padding !important;
  }

  .mar-#{$name} {
    margin: $padding !important;
  }
  .mar-0-0-0-#{$name} {
    margin-left: $padding !important;
  }
  .mar-0-0-#{$name}-0 {
    margin-bottom: $padding  !important;
  }
  .mar-0-#{$name}-0-0 {
    margin-right: $padding !important;
  }
  .mar-#{$name}-0-0-0 {
    margin-top: $padding !important;
  }
  .mar-0-#{$name} {
    margin-right:  $padding !important;
    margin-left:  $padding !important;
  }
  .mar-#{$name}-0 {
    margin-bottom: $padding !important;
    margin-top: $padding !important;
  }
}

.pad-0 {
  padding: 0 !important;
}

.mar-0 {
  margin: 0 !important;
}


ul, li {
  list-style-position: inside;

  &.bullets-disc {
    list-style-type: disc;
  }

}

.auto-comma {
  &:after {
    content: ", ";
  }
  &:last-of-type:after, &:empty:after {
    content: "";
  }
}

.auto-dash {
  &:after {
    content: " - ";
  }
  &:last-of-type:after , &:empty:after{
    content: "";
  }
}

.auto-pipe {
  &:after {
    content: " | ";
  }
  &:last-of-type:after, &:empty:after {
    content: "";
  }
}

.font-fix {
  max-height: 5000em;
}

.full-width {
      width: 100%;
}