
input, select, textarea, datalist, keygen, output, optgroup, option, label, legend, button {
  position: relative;
  font-family: $font-stack-default;
  vertical-align: middle;
  @include adjust-font-size-to($h6-fz);

}

textarea,
input[type="text"],
input[type="password"],
input[type="number"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="search"],
input[type="tel"],
input[type="url"]
{
  outline: none !important;
  border: pxToRem(1px) solid $grey-s4;
  padding: $button-small-v-pad $pad-xsm; // same padding as small button
  height: $button-small-height;
  box-sizing: border-box;
  -webkit-appearance: none;
  appearance:none;
  -moz-appearance:none;
  border-radius: 0;
  -webkit-border-radius:0;
  @include adjust-font-size-to($h6-fz);
}

select {
  outline: none !important;
  border: pxToRem(1px) solid $grey-s4;
  padding: 0 $pad-xsm;
  height: $button-small-height;
  box-sizing: border-box;
  background: white;
  border-radius: 0;  // remove border-radius in iOS
}


.table {
  display: table;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  width: 100%;

  &.fixed {
    table-layout: fixed;
  }

  .vertical-top {
    vertical-align: top !important;
  }

  .vertical-bottom {
    vertical-align: bottom !important;
  }

  .vertical-middle {
    vertical-align: middle !important;
  }

  .row {
    display: table-row;
    padding: 0;
  }

  .cell {
    display: table-cell;
    vertical-align: middle;
  }

}

button,
[role="button"],
input[type="submit"],
input[type="reset"],
input[type="button"] {
  outline: none;
  -webkit-appearance: button; /* for input */
  -webkit-user-select: none; /* for button */
  -moz-user-select: none;
  -ms-user-select: none;
  //background: none;
  //border:0;
}

.button {
  @include button;
  padding: $button-v-pad $button-h-pad;
  margin: -$button-v-pad 0 0 0;
}

.button-small {
  @include button;
  padding: $button-small-v-pad $button-small-h-pad;
  margin: -$button-small-v-pad 0 0 0;
}

.button-large {
  @include button;
  padding: $button-large-v-pad $button-large-h-pad;
  margin: -$button-large-v-pad 0 0 0;
}

@each $colour-name, $colour in $colours {
  .btn-#{$colour-name} {
    color:nth($colour, 5);
    background-color: nth($colour, 1);
    border: pxToRem(1px) solid nth($colour, 4);
    &:hover {
      color:nth($colour, 5);
      background-color: nth($colour, 2);
    }
    &:active, &.active {
      background-color: nth($colour, 3);
      box-shadow: inset 1px 0px 10px 0px darken(nth($colour, 3),10%);
    }
  }
}

[class*="btn-"] {
  &[disabled=disabled] {
    color:nth($colors-disabled, 5);
    background-color: nth($colors-disabled, 1);
    border: pxToRem(1px) solid nth($colors-disabled, 4);
    &:hover {
      background-color: nth($colors-disabled, 2);
    }
    &:active, &.active {
      background-color: nth($colors-disabled, 3);
      box-shadow: inset 1px 0px 10px 0px darken(nth($colors-disabled, 3),10%);
    }
  }
}

