/* COLOURS START */

$white: #ffffff;
$default-color: #000000;

/*

  color_dark,
  color,
  color_light

*/

$blue_d:#1771A6;
$blue: #0088CC;
$blue_l:#4F8FB5;

$red_d:#FA1104;
$red:#FC584F;
$red_l:#fc7770;

$green_d:#2FA205;
$green:#49BC1F;
$green_l:#8BBE78;

$yellow_d:#fab514;
$yellow:#ffb80c;
$yellow_l:#ffdd56;

$grey-s1: #fafafa;
$grey-s2: #f3f3f3;
$grey-s3:#e4e4e4;
$grey-s4: #c3c4c6;
$grey-s5: #454346;
$black: #333132;

$pink: #ed165c;

//TODO: this
$mono-colours: grey-s1 $grey-s1, grey-s2 $grey-s2, grey-s3 $grey-s3, grey-s4 $grey-s4, grey-s5 $grey-s5, 'black' $black, 'white' $white;

//cicina
$brand-primary: ($pink $pink $pink);
$brand-success: ($green $green_l $green_d);
$brand-info:($blue $blue_l $blue_d);
$brand-warning:($yellow $yellow_l $yellow_d);
$brand-danger:($red $red_l $red_d);
$brand-disabled:($grey-s4 $grey-s4 $grey-s4);

$brand-white:($white $white $white);
$brand-black:($black $black $black);

$colours: primary $brand-primary, success $brand-success, info $brand-info, warning $brand-warning, danger $brand-danger, disabled $brand-disabled, white $brand-white, black $brand-black;
