/*
    Helper functions
*/
@media (min-width: 375px) {
  /* line 8, ../../sass/base/js-breakpoints.scss */
  .js-breakpoint-initialize {
    content: "s";
  }
}
@media (min-width: 555px) {
  /* line 8, ../../sass/base/js-breakpoints.scss */
  .js-breakpoint-initialize {
    content: "m";
  }
}
@media (min-width: 735px) {
  /* line 8, ../../sass/base/js-breakpoints.scss */
  .js-breakpoint-initialize {
    content: "l";
  }
}
@media (min-width: 1035px) {
  /* line 8, ../../sass/base/js-breakpoints.scss */
  .js-breakpoint-initialize {
    content: "xl";
  }
}
@media (min-width: 1370px) {
  /* line 8, ../../sass/base/js-breakpoints.scss */
  .js-breakpoint-initialize {
    content: "xxl";
  }
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  /* line 8, ../../sass/base/js-breakpoints.scss */
  .js-breakpoint-initialize {
    content: "retina";
  }
}

/*

.responsive-element {
  position: relative;
  background: yellow;
  height: 3.57143rem;

  &[max-width~="22.85714rem"] {
    background: green;
    font-size: 13px;
  }

  &[min-width~="22.85714rem"][max-width~="34.28571rem"] {
    background: pink;
    font-size: 16px;
  }

  &[min-width~="34.28571rem"] {
    background: orange;
    font-size: 30px;
  }

}


*/
